body {
    background-color: black;
}

h1 {
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: antiquewhite;
}

p {
    color: whitesmoke;
}

.backed {
    background-color: blanchedalmond;
}

.items {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid red;
    background-color: aliceblue;
    margin-bottom: 10px;
    text-align: center;
}